streamlit==1.29.0
transformers==4.33.2
torch==2.2.0
langchain==0.1.232
langchain-huggingface==0.0.15
langchain-community==0.0.29
sentence-transformers==2.2.2
unstructured==0.7.9
openai==1.32.0
tiktoken==0.4.0
groq==0.2.2
python-dotenv==1.0.0
faiss-cpu==1.7.4
typing-extensions==4.7.1
